<div id="auth-homepage-header" style="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row wedding-profile testing-wedding-profile">
                    <div class="col-xs-1 ">
                        <div class="overlay-container testing-overlay-container" style="padding-top: 30px;"><img class="img-circle wedding-profile-image testing-wedding-profile-image" src="/img/bells-green-130-df81dba63fa392ee30f9b58c2db395bd56566857707f10aeea9e2fa61ce83d22.png">
                            <!-- react-empty: 16 -->
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="profile-info" style="margin-left: 80px;margin-top: 70px;">
                            <h1 class="profile-title hide" style="color: white;">Hello, Mike!</h1>
                            <p style="color: white;" class="hide">17 days until you say i do!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>