<div>
    <div class="clearfix nservice-cancel-wrapper">
        <div class="right">

        </div>
    </div>

    <div class="nservice-header-wrapper">
        <div class="nservice-header-title"><span ng-bind="ServiceName" class="ng-binding"></span></div>

    </div>
    <div class="module">
        <div class="ncat-enquiry-notify">
            Your enquiry has been submitted, quotes will be sent via email &amp; sms to your contact details
        </div>
        <div class="nservice-transition-wrapper">
            <ul class="nservice-transition-list">
                <li>
                    <div class="ncat-item done">
                        <div class="nservice-transition-icon"><i class="icon-ok"></i></div>
                        <div class="nservice-transition-text">Submit</div>
                        <div class="line"></div>
                    </div>
                </li>
                <li>
                    <div class="ncat-item active">
                        <div class="nservice-transition-icon">2</div>
                        <div class="nservice-transition-text">Recieve</div>
                        <div class="line"></div>
                    </div>
                </li>
                <li>
                    <div class="ncat-item">
                        <div class="nservice-transition-icon">3</div>
                        <div class="nservice-transition-text">Contact</div>
                        <div class="line"></div>
                    </div>
                </li>
                <li>
                    <div class="ncat-item">
                        <div class="nservice-transition-icon">4</div>
                        <div class="nservice-transition-text">Hire</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nservice-exp-wrapper">
            <div class="nservice-exp-top">
                <ul class="nservice-exp-top-list">
                    <li>
                        <div class="ncat-item">
                            <div class="nservice-exp-top-name">Average Response Time</div>
                            <div class="nservice-exp-top-sub">
                                <div class="nservice-exp-top-img">
                                    <img src="/img/hourglass.svg" alt="">
                                </div>
                                <div class="nservice-exp-top-stamp">
                                    <span>3 Hrs</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ncat-item">
                            <div class="nservice-exp-top-name">Quote Expected</div>
                            <div class="nservice-exp-top-sub">
                                <div class="nservice-exp-top-img">
                                    <img src="/img/exam.svg" alt="">
                                </div>
                                <div class="nservice-exp-top-stamp">
                                    <span>2 - 3</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nservice-exp-bottom">
                <div class="nservice-exp-bottom-title">Quote Include</div>
                <ul class="nservice-exp-bottom-list">
                    <li>
                        <div class="ncat-item">
                            <div class="nservice-exp-bottom-img"><img src="/img/naira.svg" alt=""></div>
                            <div class="nservice-exp-bottom-name">Budget</div>
                        </div>
                    </li>
                    <li>
                        <div class="ncat-item">
                            <div class="nservice-exp-bottom-img"><img src="/img/profile.svg" alt=""></div>
                            <div class="nservice-exp-bottom-name">Profile</div>
                        </div>
                    </li>
                    <li>
                        <div class="ncat-item">
                            <div class="nservice-exp-bottom-img"><img src="/img/message.svg" alt=""></div>
                            <div class="nservice-exp-bottom-name">Message</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>