<footer class="global-footer">
    <div class="grid-container -layout-wide">

        <hr class="global-footer__separator">
        <div class="global-footer__container">
            <div class="global-footer-company-links">
                <ul class="global-footer-company-links__list" style="font-weight:400">
                    <li class="global-footer-company-links__list-item">
                        <a class="global-footer__text-link -opacity-full" href="/">Blog</a>
                    </li>
                    <li class="global-footer-company-links__list-item">
                        <a class="global-footer__text-link -opacity-full" href="/">Budget Tool</a>
                    </li>
                    <li class="global-footer-company-links__list-item">
                        <a class="global-footer__text-link -opacity-full" href="/">Get Started</a>
                    </li>
                    <li class="global-footer-company-links__list-item">
                        <a class="global-footer__text-link -opacity-full" href="/planner/register/">Are ypu a planner?</a>
                    </li>
                </ul>

                <hr class="global-footer__separator is-hidden-tablet-and-above h-mt3">

                <small class="global-footer-company-links__price-disclaimer">
               
                                    </small>

                <small style="font-weight:400" class="global-footer-company-links__copyright">
                   © 2018 GetWeded Ltd. Trademarks and brands are the property of their respective owners.
                </small>
            </div>

            <div class="global-footer-social">
                <ul>
                    <li class="global-footer-social__list-item">
                        <a class="global-footer__icon-link" rel="nofollow" href="/">
                            <img class="global-footer-social__icon" alt="Twitter" title="Twitter" src="https://public-assets.envato-static.com/assets/header-footer/social/twitter-0ebe984d9b2b8c78b67126b285558581951a217bdd4dededf36127a2fdfcb371.svg">
                        </a>
                    </li>
                    <li class="global-footer-social__list-item">
                        <a class="global-footer__icon-link" rel="nofollow" href="/">
                            <img class="global-footer-social__icon" alt="Facebook" title="Facebook" src="https://public-assets.envato-static.com/assets/header-footer/social/facebook-1f1edee9e1cd28cd2df88ff3a916f5f67f39fa61031a2276a81406d5ec264d08.svg">
                        </a>
                    </li>
                    <li class="global-footer-social__list-item">
                        <a class="global-footer__icon-link" rel="nofollow" href="/">
                            <img class="global-footer-social__icon" alt="YouTube" title="YouTube" src="https://public-assets.envato-static.com/assets/header-footer/social/youtube-6e2be9a9ee897454619f4a137cbe6e5e17be834536a4ea74a5638e2d8f6b9649.svg">
                        </a>
                    </li>
                    <li class="global-footer-social__list-item">
                        <a class="global-footer__icon-link" rel="nofollow" href="/">
                            <img class="global-footer-social__icon" alt="Instagram" title="Instagram" src="https://public-assets.envato-static.com/assets/header-footer/social/instagram-7527061010a48c8afcf551be64441f1e32396592b1fdb7bb71572ca65e46e877.svg">
                        </a>
                    </li>
                    <li class="global-footer-social__list-item">
                        <a class="global-footer__icon-link" rel="nofollow" href="/">
                            <img class="global-footer-social__icon" alt="Pinterest" title="Pinterest" src="https://public-assets.envato-static.com/assets/header-footer/social/pinterest-bab0087092edff09204c4954d3ef72c5805281d8f10cca6b51955235722e530b.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>