<div class="section row visible-xs visible-md visible-sm" style="background-color: #f5f5f5" id="inspiration-section">
    <div class="info-row col-xs-12">
        <div class="full-width text-center" id="inspiration-header">
            <h2 class="h3">
                <div class="text-uppercase">The Latest Inspiration</div>
                <small>Discover the best ideas, tips and articles to inspire YOUR perfect wedding</small>
            </h2>
        </div>
    </div>
    <div class="info-row col-xs-12">
        <div class="full-width text-center">
            <a class="btn btn-primary-inverse btn-lg text-uppercase">Explore Inspirations</a>
        </div>
    </div>
    <div class="info-row col-xs-12">
        <div class="visible-xs-landscape">
            <div class="flex-around flex-row tile-col-3" id="inspiration-content">
                <div>
                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Platinum and Pink Loft"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-erin-michael_2x-9c7dc274f35cdd968bbf59346df5154a913e1e4be3715e18530d5efe19b66744.jpg" alt="Realwed erin michael 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-erin-michael-profile_2x-6f20f80a35157bafca9c3710328ae782a04e3b165f544d02f8a8559c481c2bf9.jpg" alt="Realwed erin michael profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Erin &amp; Michael
                                    </div>
                                    <span class="realwed-title">
    Platinum and Pink Loft
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-San Francisco Terra Gallery"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-ben-jason_2x-4f005d68b8d931cf4622d6d4af13c7611bdfc54240a9fdb46db34d65d26b0479.jpg" alt="Realwed ben jason 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-ben-jason-profile_2x-6d956ae7fb97a979733261e28b2766ccf37273a0420df3b0416328ea0f97b422.jpg" alt="Realwed ben jason profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Ben &amp; Jason
                                    </div>
                                    <span class="realwed-title">
    San Francisco Terra Gallery
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Creative Fall Arizona Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-kathleen-matt_2x-4b6f84dadfd7c124af951b089ebcaaf1d0f1ff586a90d7e85d5300a90a90bf63.jpg" alt="Realwed kathleen matt 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Kathleen &amp; Matt
                                    </div>
                                    <span class="realwed-title">
    Creative Fall Arizona Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div>
                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Romantic Yacht Club Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-lauren-charles_2x-1bab55701c608eb458119a3ee1c6778e7afd72e2768cba710abfe722d4ffc8f9.jpg" alt="Realwed lauren charles 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-lauren-charles-profile_2x-90dfddc5f975696ab21e3147a28cd0fb8f64346c6ff6ef8d6c41dfb7280b03c8.jpg" alt="Realwed lauren charles profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Lauren &amp; Charles
                                    </div>
                                    <span class="realwed-title">
    Romantic Yacht Club Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Snowy Pennsylvania Ballroom Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-megan-chris_2x-64630fea682ced4bce66e690cb16508b5d090677f24ed3b767e4fa634c0d1962.jpg" alt="Realwed megan chris 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-megan-chris-profile_2x-8e998edeaf005e7200f5935a0d374a88832c96a92fce67a5f64034bfa2fa6a30.jpg" alt="Realwed megan chris profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Megan &amp; Chris
                                    </div>
                                    <span class="realwed-title">
    Snowy Pennsylvania Ballroom Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Vibrant Keswick Vineyards Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-megan-sonny_2x-fd585138cf0df3b981d678422f04fbcf82fa9cc60360fd83cb998951b78eec81.jpg" alt="Realwed megan sonny 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Megan &amp; Sonny
                                    </div>
                                    <span class="realwed-title">
    Vibrant Keswick Vineyards Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div>
                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Waterfront Greek Maryland"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-despina-eric_2x-58cd6a63d995c3ca28bb8d2e7126fa4f9c409accbc1b05dd7a58b36edabe9bb4.jpg" alt="Realwed despina eric 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-despina-eric-profile_2x-456b0230d4cb30ff64d56f7e9cec085fc10492d0b7eac178b917d9c65ff05acf.jpg" alt="Realwed despina eric profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Despina &amp; Eric
                                    </div>
                                    <span class="realwed-title">
    Waterfront Greek Maryland
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Eclectic Florida Restaurant"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-ashley-cori_2x-051c65e68671e1b3c6aab19c4f633118b1400f8edf39ef140cfc597375839040.jpg" alt="Realwed ashley cori 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-ashley-cori-profile_2x-93e6a7cc056764d4a3fe64d8e3b26a00c7d1c84ae282dbc04380f2e040d86fd0.jpg" alt="Realwed ashley cori profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Ashley &amp; Cori
                                    </div>
                                    <span class="realwed-title">
    Eclectic Florida Restaurant
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Playful California Resort Wedding "><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-fay-scott_2x-671d8389e909e30ca6ba53b17ba2aff7def8bacbbcee6fe1cfe121dd4b4758e8.jpg" alt="Realwed fay scott 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Fay &amp; Scott
                                    </div>
                                    <span class="realwed-title">
    Playful California Resort Wedding 
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <div class="visible-xs-portrait visible-xs-block">
            <div class="flex-around flex-row tile-col-2" id="inspiration-content">
                <div>
                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Platinum and Pink Loft"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-erin-michael_2x-9c7dc274f35cdd968bbf59346df5154a913e1e4be3715e18530d5efe19b66744.jpg" alt="Realwed erin michael 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-erin-michael-profile_2x-6f20f80a35157bafca9c3710328ae782a04e3b165f544d02f8a8559c481c2bf9.jpg" alt="Realwed erin michael profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Erin &amp; Michael
                                    </div>
                                    <span class="realwed-title">
    Platinum and Pink Loft
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-San Francisco Terra Gallery"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-ben-jason_2x-4f005d68b8d931cf4622d6d4af13c7611bdfc54240a9fdb46db34d65d26b0479.jpg" alt="Realwed ben jason 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-ben-jason-profile_2x-6d956ae7fb97a979733261e28b2766ccf37273a0420df3b0416328ea0f97b422.jpg" alt="Realwed ben jason profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Ben &amp; Jason
                                    </div>
                                    <span class="realwed-title">
    San Francisco Terra Gallery
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Creative Fall Arizona Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-kathleen-matt_2x-4b6f84dadfd7c124af951b089ebcaaf1d0f1ff586a90d7e85d5300a90a90bf63.jpg" alt="Realwed kathleen matt 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Kathleen &amp; Matt
                                    </div>
                                    <span class="realwed-title">
    Creative Fall Arizona Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div>
                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Romantic Yacht Club Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-lauren-charles_2x-1bab55701c608eb458119a3ee1c6778e7afd72e2768cba710abfe722d4ffc8f9.jpg" alt="Realwed lauren charles 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-lauren-charles-profile_2x-90dfddc5f975696ab21e3147a28cd0fb8f64346c6ff6ef8d6c41dfb7280b03c8.jpg" alt="Realwed lauren charles profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Lauren &amp; Charles
                                    </div>
                                    <span class="realwed-title">
    Romantic Yacht Club Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Snowy Pennsylvania Ballroom Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-megan-chris_2x-64630fea682ced4bce66e690cb16508b5d090677f24ed3b767e4fa634c0d1962.jpg" alt="Realwed megan chris 2x">
                            <img class="img-responsive img-circle preview" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-megan-chris-profile_2x-8e998edeaf005e7200f5935a0d374a88832c96a92fce67a5f64034bfa2fa6a30.jpg" alt="Realwed megan chris profile 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Megan &amp; Chris
                                    </div>
                                    <span class="realwed-title">
    Snowy Pennsylvania Ballroom Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="inspiration-tile">
                        <a id="tracking-inspiration-Vibrant Keswick Vineyards Wedding"><img class="img-responsive" src="https://m-cdn.weddingwire.com/assets/home/inspiration/realwed-megan-sonny_2x-fd585138cf0df3b981d678422f04fbcf82fa9cc60360fd83cb998951b78eec81.jpg" alt="Realwed megan sonny 2x">
                            <div class="description text-center">
                                <div class="title h6">
                                    <div class="text-uppercase">
                                        Megan &amp; Sonny
                                    </div>
                                    <span class="realwed-title">
    Vibrant Keswick Vineyards Wedding
    </span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>