<div id="board">
    <div class="clearfix nservice-cancel-wrapper">
        <div class="right">

        </div>
    </div>

    <div class="nservice-header-wrapper">
        <div class="nservice-header-title"><span ng-bind="ServiceName"></span></div>

    </div>
    <div class="module" style="position: relative">
        <ul class="list-unstyled" id="inbox">
            <li>
                <a href="javascript:;" class="active">
                    <div class="media">
                        <div class="media-left thumb thumb-sm">
                            <img alt="" class="media-object br-5" src="/images/random-avatar1.jpg"> </div>
                        <div class="media-body">
                            <p>
                                <span class="strong chat-name">Hrithik Roshan</span>
                                <span class="badge bg-lightred">2</span>
                                <small class="text-muted pull-right">16:54, 24.11.2016</small>
                            </p>
                            <div class="chat-actions pull-right hide">
                                <span class="mark-readed">
                                    <i class="fa fa-circle-o"></i>
                                </span>
                                <span class="archive">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                            <small class="text-muted message">Commodo sunt minim incid id unt ipsum dolore veniam nulla Lorem reprehenderit officia. Ut esse cillum quis
                                deserunt.</small>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="active">
                    <div class="media">
                        <div class="media-left thumb thumb-sm">
                            <img class="media-object br-5" src="/images/random-avatar1.jpg" alt=""> </div>
                        <div class="media-body">
                            <p class="media-heading">
                                <span>Ranveer Kapur</span>
                                <small class="text-muted pull-right">15:29, 24.11.2016</small>
                            </p>
                            <div class="chat-actions pull-right hide">
                                <span class="mark-readed">
                                    <i class="fa fa-circle-o"></i>
                                </span>
                                <span class="archive">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                            <small class="text-muted message">Sit nulla sint exadipisicing sint velit quis irure cillum.</small>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="active">
                    <div class="media">
                        <div class="media-left thumb thumb-sm">
                            <img alt="" class="media-object br-5" src="/images/random-avatar1.jpg"> </div>
                        <div class="media-body">
                            <p class="media-heading">
                                <span class="text-strong">Ranveer Singh</span>
                                <span class="badge bg-lightred">1</span>
                                <small class="text-muted pull-right">14:18, 24.11.2016</small>
                            </p>
                            <div class="chat-actions pull-right hide">
                                <span class="mark-readed">
                                    <i class="fa fa-circle-o"></i>
                                </span>
                                <span class="archive">
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                            <small class="text-muted message">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                                in some form,</small>
                        </div>
                    </div>
                </a>
            </li>





        </ul>
    </div>

</div>