<nav class="global-nav global-nav--transparent affix nsite-header" ng-controller="NavCtrl">
    <div class="container">
        <div class="global-nav__left">
            <a class="global-nav__logo" href="/">
                <img src="/images/icons/logo.png" style="height: 30px" alt="GetWeded">
            </a>
        </div>
        <div class="global-nav__right">
            <ul class="global-nav__menu dropdown dropdown-hover">
                <li class="global-nav__item  dropdown-toggle" data-toggle="dropdown">
                    <a id="user-menu" class="pointer">
                        <i class="fa fa-user"></i>
                        <span class="core-ellipsis navbar-user-name"> <%= name %> </span>
                    </a>
                </li>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/user/home/">Dashboard</a>
                    </li>
                    <li>
                        <a class="inline-cnt" href="/user/messages/">Messages</a>
                    </li>
                    <li>
                        <a href="/user/profile/">Profile</a>
                    </li>
                    <li>
                        <a href="/user/settings/">Settings</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="/user/logout/<%= user %>">Logout</a>
                    </li>
                </ul>
            </ul>
            <div class="global-mobile-nav">
                <div class="global-mobile-nav__trigger" id="mobile-nav-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="global-mobile-nav-menu" id="mobile-nav-menu" style="display: none;">
                    <div class="row">
                        <div class="col col-xs-7">
                            <li class="global-mobile-nav-menu__label">COUPLE KITS</li>
                            <li class="global-mobile-nav-menu__item">
                                <a href="/">Budget Tool</a>
                            </li>
                            <li class="global-mobile-nav-menu__item">
                                <a href="/">Checklist</a>
                            </li>
                            <li class="global-mobile-nav-menu__item">
                                <a href="/">Inspirations</a>
                            </li>
                        </div>
                        <div class="col col-xs-5">
                            <li class="global-mobile-nav-menu__label">ACCOUNT</li>
                            <li class="global-mobile-nav-menu__item">
                                <a href="/">Log In</a>
                            </li>
                            <li class="global-mobile-nav-menu__item">
                                <a class="pointer getStarted" data-type="modal-trigger">Get Started</a>
                                <span class="cd-modal-bg"></span>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>