<div class="planning-tools">
    <div class="row pb-2">
        <div class="col-xs-12 above-module-title strong" style="color: white;">YOUR PLANNING TOOLS</div>
    </div>
    <div class="row no-margin pr-0 pb-0 pl-0">
        <div class="module col-xs-12">
            <div class="row mt-3 mb-3">
                <div class="col-xs-12"><a href="/user/home/" class="cursor-pointer align-items-center"><span class="icon ww-icon-tool-wedding-website fa fa-2x fa-dashboard"></span><span class="strong px-2">Dashboard</span></a></div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-xs-12"><a href="/user/messages/" class="cursor-pointer align-items-center"><span class="fa fa-2x fa-envelope-o icon ww-icon-vm-message-icon-light overlay-cnt testing-message-icon"></span><span class="strong px-2">Messages</span></a></div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-xs-12"><a href="/user/checklist/" class="cursor-pointer align-items-center"><span class="fa fa-2x fa-calendar-check-o icon ww-icon-checkbox-icon"></span><span class="strong px-2">Checklist</span></a></div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-xs-12"><a href="/user/budget/" class="cursor-pointer align-items-center"><span class="fa fa-2x fa-calculator icon ww-icon-tool-budget"></span><span class="strong px-2">Budget</span></a></div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-xs-12"><a href="/blog/" class="cursor-pointer align-items-center"><span class="fa fa-2x fa-bookmark icon ww-icon-tool-guest-list"></span><span class="strong px-2">Inspirations/Blog</span></a></div>
            </div>

        </div>
    </div>
</div>